<center>
    <div>
        <p style="font-size:30px " class="grey-text">Lo sentimos</p>
        <b><p style="font-size:25px;" class=" grey-text">{{mesagge}}</p></b>
        <p class="grey-text">Para mayor informacion consulta la base del conocimiento con el codigo 0123</p>
    </div>
</center>