<nav class="nav-extended" id="nav-menu-principal">

  <div class="nav-wrapper">
    {# <a class="brand-logo right" id="logo-empresa"><img src="{{base_url}}public/imagenes/logomenu.png" ></a> #}
      <ul id="nav-mobile" class="left tabs tabs-transparent">
        <li>
          <button data-target="slide-out" class="btn waves-effect waves-light   btn-flat sidenav-trigger transparent" >
            <i style="font-size:35px;" class="material-icons white-text" ><b>menu</b></i>
          </button>
        </li>
        <li class="tab"><a id="menu-principal" class="menu-inicio" style="font-size:1.3rem;"   onclick="cargarModulo()">Inicio</a></li>
        <li class="tab"><a id="menu-principal" class="menu-pedidos" style="font-size:1.3rem;"   onclick="cargarModulo('pedidos')">Pedidos</a></li>
        <li class="tab"><a id="menu-principal" class="menu-novedades" style="font-size:1.3rem;"  onclick="cargarModulo('novedades')">Novedades</a></li>
      </ul>
  </div>
</nav>


<div class="fixed-action-btn">
  <button class="btn-floating btn-large transparent" onclick="window.open('https://api.whatsapp.com/send?phone=573163606917&amp;text=Hola%21%20Quiero%20recibir%20soporte%20sobre%20el%20manejo%20de%20EnvioFacil.', '_blank')"  stye="border:none">
    <ion-icon name="whatsapp-color-border" class="my-wa-float md hydrated" role="img" title="¿ Necesitas ayuda ?" aria-label="whatsapp color border"></ion-icon>
  </button>
</div>

{% include 'aside.twig' %}
{% include 'modal_perfil.twig' %}
{% include 'modal_usuario.twig' %}
{% include 'modal_crear_usuario.twig' %}

  