<div class="row ">
    <!-- PLAN PREMIUM -->
	<div class="row col s12 m4 #fffde7 yellow lighten-5" >
		<div class="contenedor_tarjeta " >			
			<div class="card-plan orange">
				<h5 class="center-align " id="titulo_plan"><b>PREMIUM</b></h5>
			</div>
            <div class="row col s12 m12 center-align #fffde7 yellow lighten-5">
				<h6 style="margin-top:40px; color:rgb(66, 65, 65);"><b>Felicidades este es tu plan premium:</b></h6>
                <p style="color:grey; margin-top:20px;">Puedes hacer uso de todos los beneficios y herramientas de la aplicacion
                Genera. Ademas cuentas con soporte web y telefonico en horario de oficina de lunes a viernes y sabados de 8 a 1 de la tarde</p>
                <p style="margin-top:30px; color:rgb(66, 65, 65);"><b>Tu periodo pago es de 12-02-2022 hasta el 12-02-2023 </b> </p>
                <p style="margin-top:30px; color:grey;">recuerda que adicional debes tener saldo en la bolsa de envio ($5.000 COP por empleado para envio)</p>
                <p style="margin-top:20px; color:rgb(66, 65, 65);"><b>Simplifica tus procesos, genera tu nomina y optimiza tu vida</b> </p>
                <div class="center-align" >
                    <a class="green btn waves-effect waves-light" style=" border-radius:3px; margin-top:20px;">Renovar plan</a>
                </div>
                <div class="center-align"style="padding-bottom:30px;">
                    <a class="btn" id="btn-historial" style="height:25px; margin-top:20px;">Historial de pagos</a>
                </div>
            </div>
		</div>
	</div>


    <!-- PLAN STANDAR -->

    <div class="row col s12 m4 #e8f5e9 green lighten-5" >
		<div class="contenedor_tarjeta " >			
			<div class="card-plan green">
				<h5 class="center-align " id="titulo_plan"><b>STÁNDAR</b></h5>
			</div>
            <div class="row col s12 m12 center-align #e8f5e9 green lighten-5">
				<h6 class="center-align" style="font-size:20px; color:rgb(66, 65, 65); margin-top:10px;"><b>BOLSA DE ENVIOS</b></h6>
                <p class=" center-align etiqueta_p" style="margin-top:-30px;"><b>Felicidades este es tu plan Stándar:</b></p>
                <p class=" center-align" style="color:grey;">Esta es tu bolsa de envíos de nomina electronica</p>
                <p class=" center-align" style="color:grey; margin-top:-20px;">($5.000 COP) por empleado</p>             
                <div class="campo_saldo z-depth-1" style="padding-top: 20px; margin-top:10px;">
                    <div class="input-field col m6 s12">
                        <input style="text-align:center; " value="$165.000" id="saldo" type="text" class="validate">
                        <label class="active" style="text-align:center;color:rgb(92, 92, 92);" for="saldo">Tu saldo es de</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <input style="text-align:center;" value="33" id="envios" type="text" class="validate">
                        <label class="active" style="text-align:center; color:rgb(92, 92, 92);" for="envios">Envios restantes</label>
                    </div>
                    <p class=" center-align" style="color:rgb(92, 92, 92); padding-top:30px; padding-bottom:20px;">La fecha de tu ultimo saldo es 16-02-2022</p> 
                </div>
                <h6 class="center-align"><b>Recuerda:</b></h6>
                <p class="center-align">Mantendras tu paquete standar hasta 30 dias despues de tu ultimo envio o hasta 30 dias despues de terminar tu saldo</p>
                <div class="center-align">
                     <a class="green btn waves-effect waves-light" style=" border-radius:3px; margin-top:10px;">Renovar plan</a>
                </div>
                <div class="center-align">
                <a class="btn "id="btn-historial" style="height:25px; margin-top:20px;">Historial de pagos</a>
                <a class="btn"id="btn-historial"style="height:25px; margin-top:20px; margin-left:10px;" >Historial de consumo</a>
                </div>
            </div>
		</div>
	</div>

    <!-- PLAN BASICO -->

    <div class="row col s12 m4  #e1f5fe light-blue lighten-5" style="">
		<div class="contenedor_tarjeta " >			
			<div class="card-plan blue">
				<h5 class=" center-align" id="titulo_plan" ><b>BÁSICO</b></h5>
			</div>
            <div class="row col s12 m12 center-align  #e1f5fe light-blue lighten-5" style="margin-bottom:45px;">
				<p class=" center-align etiqueta_p" ><b>Este Es tu Plan Básico, Gracias por elegirnos</b></p>
                <h6 class="center-align texto_relleno"style="margin-top:30px;">Vamos anímate</h6>
                <p style="text-align:center;font-size:16px; color:grey; margin-top:10px;"><b>que esperas para disfrutar</b></p> 
                <p style="text-align:center; margin-top:-20px; font-size:16px; color:grey;"><b> de todos nuestros planes</b></p>
                <div class="center-align #e1f5fe light-blue lighten-5" style="padding-bottom:30px;">
                    <a class="orange btn waves-effect waves-light" style="border-radius:3px; width:30%; margin-top:100px;">IR A PLANES<a>
                </div>
            </div>
		</div>
	</div>

</div>