<div id="modal_crear_contable" name="modal_crear_contable" class="modal modal-esc" style="border-radius:20px; padding-top:0px; padding-bottom:0px; width:500px;">
	<div class="modal-content" style="padding:0px; padding-right:-30px;">
		<form method="POST" action="" name="fmrcrearcontable" id="fmrcrearcontable" onsubmit="crearContable(); return false;">
			<div class="row titulo_modal" style="border-radius:10px 10px 0px 0px; margin-left:0rem; margin-right:0rem;" >
				<center>
					<h5>Igresar un nuevo grupo contable</h5>
				</center>
			</div>
			<p style="font-size:20px; margin:10px;" class="text-intro">¡Excelente noticias! Para crear un nuevo grupo contable solo debes de diligenciar el siguiente formulario.</p>
			<div class="modal-body" style="margin-top:40px;">
				<div class="row"  style="margin-left:0rem; margin-right:0rem; ">
					<div class="input-field col m5"  style="margin-right:40px; margin-top:-10px;">
						<input id="codigo_contable_crear" name="codigo_contable_crear" type="text" class="validate"/>
						<label for="codigo_contable_crear" style="font-size:15px;">Codigo</label>
					</div>
					<div class="input-field col m5"  style=" margin-top:-10px; padding-right:0px;">
						<input id="nombre_contable_crear" name="nombre_contable_crear" type="text" class="validate" required>
						<label for="nombre_contable_crear" style="font-size:15px;">Nombre</label>
					</div>
				</div>
			</div>
			<div class="modal-footer" >
				<button class="modal-close btn-flat" type="reset"><b>CANCELAR</b></button>
				<button class="btn waves-effect waves-light green btn-paso-1" type="submit" style="border-radius:10px;"><b>GUARDAR</b></button>
			</div>
		</form>
	</div>
</div>