<div id="modal_cobertura" class="modal modal-fixed-footer" style="border-radius:10px; width:95%; height:100%;">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>this</p>
      <button type="button" class="btn btn-primary" id="btn-ver-cobertura">ver</button>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">CERRAR</a>
    </div>
  </div>