<style>
    #content-modal{
        padding : 5px;
    }
</style>
<div id="md-edit-user" class="modal modal-fixed-footer modal-general" style="border-radius:10px; width:90%; height:90%;">
    <form  method="POST" action="#" name="fmedicionuser" id="fmedicionuser" onsubmit="actualizarUsuario(this); return false;">
    <input type="hidden" id="user_id" name="id" type="text" required>
        <div class="modal-content" id="content-modal">
            <div class="encabezado-modal center-align">
                <h4>Editar usuario</h4>
            </div>
            <div class="row mt-2">
                <div class="input-field col m3"></div>
                <div class="input-field col m3">
                    <input id="edit_nombre" name="nombre" type="text" class="validate" required>
                    <label for="edit_nombre" class="active">Nombres</label>
                </div>
                <div class="input-field col m3">                
                    <input id="edit_apellido" name="apellido" type="text" class="validate" required>
                    <label for="edit_apellido" class="active">Apellidos</label>
                </div>
                <div class="input-field col m3"></div>
            </div>

            <div class="row">
                <div class="input-field col m3"></div>
                <div class="input-field col m3">                               
                    <input id="edit_correo" name="correo" type="email" class="validate" required>
                    <label for="edit_correo" class="active">Email</label>
                </div>
                <div class="input-field col m3">
                    <input id="edit_celular" name="celular" type="text" class="validate" minlength="10" maxlength="10" required>
                    <label for="edit_celular" class="active">Celular</label>
                </div>
                <div class="input-field col m3"></div>
            </div>

            <div class="row">
                <div class="input-field col m3"></div>
                 <div class="input-field col m6">
                    <input id="edit_direccion" name="direccion" type="text" class="validate" minlength="10" required>
                    <label for="edit_direccion" class="active">Direccion</label>
                </div>
                <div class="input-field col m3"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="waves-effect waves-light btn green" type="submit">GUARDAR</button>
            <a href="#!" class="modal-close btn grey">Cancelar</a>
        </div>
    </form>
</div>