<div id="modal_editar_costo" name="modal_editar_costo" class="modal modal-esc modal-fixed-footer" style="border-radius:20px; padding-top:0px; padding-bottom:0px;width :50%; height:80%;">
	<div class="modal-content" style="padding:0px;">
	<h4 id="fijo" class="titulo_row center-align">Centro de costos actualmente activos</h4>
		<table class="centered highlight bordered">
			<div id="subtitle" class="col s12">
				<center>
					<p class="text-intro grey-text">Ingrese el nuevo dato sobre el campo y luego presione el boton editar para guardar el cambio.</p>
				</center>
			</div>
			<thead>
			<tr style="color:grey;">
				<th  style="width : 15%" >Codigo</th>
				<th  style="width : 15%">Costo</th>
				<th  style="width : 15%">Ubicacion</th>
				<th  style="width : 15%" >Fecha Creacion</th>
				<th  style="width : 15%">Editar</th>
				<th  style="width : 15%">Eliminar</th>
			</tr>
			</thead>
			<tbody class="tabla-edit-costo">
				
			</tbody>			
		</table>
	</div>
		<div class="modal-footer">        
		<button class="modal-close btn-flat" type="reset"style="color:#005EB8"><b>CANCELAR</b></button>            
	</div> 
</div>
