<div id="modal_catalogo_cuenta" name="modal_catalogo_cuenta" class="modal modal-esc" style="border-radius:20px; padding-top:0px; padding-bottom:0px; width:750px;">
	<div class="modal-content" style="padding:0px;">
		<form method="POST" action="" name="fmrcatalogocuenta" id="fmrcatalogocuenta" enctype="multipart/form-data" onsubmit="subirExel(); return false;">
			<div class="row titulo_modal" style="border-radius:10px 10px 0px 0px; margin-left:0rem; margin-right:0rem;">
				<center>
					<h5>Igresar un catalogo de cuenta</h5>
				</center>
			</div>
			<p style="font-size:20px; margin:10px;">Aqui puedes subir tu catalogo de cuentas en un archivo exel</p>
			<div class="modal-body">
				<div class="row m12">
					<div class="input-field col m6">
						<input id="file" accept="" name="file" type="file" class="validate" required />
					</div>	
					<div class="input-field col m6">
						<button class="modal-close btn-flat" type="reset"><b>CANCELAR</b></button>
						<button class="btn waves-effect waves-light green btn-paso-1" type="submit" style="border-radius:10px;" ><b>IMPORTAR</b></button>
					</div>
				</div>			
			</div>
		</form>
	</div>
</div>
