<div id="modal_rastreo" class="modal modal-fixed-footer" style="border-radius:10px; width:95%; height:100%;">
  <div class="modal-content">
    <h4>Rastrear pedido</h4>
    <div class="container"> 
      <div class="row">
        <div class="col m12 text-center">This div is 12-columns wide on all screen sizes</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a 
      href="#!" 
      class="modal-close waves-effect waves-green btn-flat"
    >
      CERRAR
    </a>
  </div>
</div>