<style>
     
    #md-new-user{
        border-radius:10px; 
        width:50%; 
        height:650px !important;
    }

</style>
<div id="md-new-user" class="modal modal-fixed-footer modal-general">
    <div class="modal-content" id="content-modal">

        <div class="encabezado-modal center-align">
            <h4>Crear un nuevo usuario</h4>
        </div>

        <form  method="POST" action="#" name="fmregistrouser" id="fmregistrouser" style="width:600px;padding : 10px;">
            <div class="row">
                <h5 class="grey-text">Datos del usuario:</h5>
                <div class="input-field col m6">
                    <input id="nombre" name="nombre" type="text" class="validate" required>
                    <label for="nombre">Nombres</label>
                </div>
                <div class="input-field col m6">                
                    <input id="apellido" name="apellido" type="text" class="validate" required>
                    <label for="apellido">Apellidos</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m6">                               
                    <input id="correo" name="correo" type="email" class="validate" required>
                    <label for="correo">Email</label>
                </div>
                <div class="input-field col m6">
                    <input id="celular" name="celular" type="text" class="validate" minlength="10" maxlength="10" required>
                    <label for="celular">Celular</label>
                </div>
            </div>



            <div class="row">
                <div class="input-field col m4">
                    <select name="departamento_destinatario" id="departamento_destinatario" onchange="municipiosDepartamento(this.value,'municipio_user',false,'id_municipio')" >
                        <option selected disabled>- Seleccione -</option>
                        {% if departamentos %}                   
                            {% for departamento in departamentos %}
                                <option value="{{departamento.codigo}}">{{departamento.nombre}}</option>
                            {% endfor %}   
                        {% endif %}
                    </select>
                    <label>Departamentos</label>
                </div>
                <div class="input-field col m4">
                    <select name="municipio_user" id="municipio_user">
                        <option value="" disabled selected>- Municipios -</option>
                    </select>
                    <label>Municipio</label>
                </div>
                <div class="input-field col m4">
                    <input id="direccion" name="direccion" type="text" class="validate" minlength="10" required>
                    <label for="direccion">Direccion</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m6">
                    <input id="clave" name="clave" type="password" class="validate" minlength="8" required>
                    <i id="icono-psw" style="cursor:pointer; font-size:20px; margin-left:-30px; " class="material-icons prefix" onclick="mostrarPassword()">visibility_off</i>
                    <label for="clave">Contraseña</label>
                </div>
                <div class="input-field col m6">                        
                    <input id="clave1" name="clave1" type="password" class="validate" minlength="8" required>
                    <i id="icono-psw1" style="cursor:pointer; font-size:20px; margin-left:-30px;"class="material-icons prefix " onclick="mostrarPassword1()" >visibility_off</i>
                    <label for="clave1">Confirmar Contraseña</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn green" type="button" onclick="registrarUsuario()">REGISTRARSE</button>
        <a href="#!" class="modal-close btn grey">Cancelar</a>
    </div>
</div>

