<div id="modal_editar_cargo" name="modal_editar_cargo" class="modal modal-esc modal-fixed-footer" style="border-radius:20px; padding-top:0px; padding-bottom:0px;width :40%; height:80%;">
	<div class="modal-content" style="padding:0px;">
		<h4 id="fijo" class="titulo_row center-align">Cargos actualmente activos</h4>
		<table class="centered highlight">
			<div id="subtitle" class="col s12">
				<center>
					<p class="text-intro grey-text">Ingrese el nuevo dato sobre el campo y luego presione el boton editar para guardar el cambio.</p>
				</center>
			</div>
			<thead style="align:center">
			<tr style="color:grey;">
				<th>Cargo</th>
				<th>Fecha Creacion</th>
				<th>Editar</th>
				<th>Eliminar</th>
			</tr>
			</thead>
			<tbody class="tabla-edit-cargo">				
			</tbody>			
		</table>	
	</div>
		<div class="modal-footer">        
		<button class="modal-close btn-flat" type="reset" style="color:#005EB8"><b>CANCELAR</b></button>            
	</div> 
</div>
