<div id="modal_editar_concepto_pago" name="modal_editar_concepto_pago" class="modal  modal-esc" style="border-radius:20px; width:700px;font-weight:normal;">
	<div class="modal-content" style="padding:0px;">
		<form method="POST" action="" name="fmreditarconcepto" id="fmreditarconcepto" onsubmit="editarConceptoPago(); return false;">
            <h4 class="text-intro titulo_modal" style="text-align:center; padding-bottom:30px; padding-top:30px;" >Concepto de pago</h4>
			<div style="margin-top:40px" class="modal-body">
				<div class="row">					
                    <div class="input-field col s12 m3">
                        <input id="id_concepto_pago" name="id_concepto_pago" type="hidden" />
                        <select name="ed_tipo" id="ed_tipo" required onchange="verCodigo(this.value)">
                            <option value="P">Pago </option>
                            <option value="D">Descuento</option>
                            <option value="A">Provisión</option>
                        </select>
                        <label for="tipo" >Tipo</label>                                
                    </div> 
                    <div class="input-field col m2">
						<input id="ed_codigo" name="ed_codigo" type="text" class="validate" maxlength="5" required onchange="validarEditarCodigo()"/>
						<label for="ed_codigo">Codigo</label>
					</div>
                    <div class="input-field col s12 m4">
                        <select  name="ed_clase_concepto_pago" id="ed_clase_concepto_pago">
                            <option value="">- Clase -</option>
                            {% if clase_concepto_pago %}
                                {% for clase_concepto_pago in clase_concepto_pago %}
                                    <option value="{{clase_concepto_pago.value}}">{{clase_concepto_pago.display}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <label>Clase del concepto</label>                                
                    </div>
                    <div class="input-field col m3">
						<input id="ed_nombre_concepto" name="ed_nombre_concepto" type="text" class="validate" required>
						<label for="ed_nombre_concepto">Nombre concepto</label>
					</div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m3">
                        <select name="ed_maneja_tasa" id="ed_maneja_tasa" onchange="mostrarCampoTasa(this.value)">
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                        <label>Maneja tasa</label>                                
                    </div>                   					
					<div class="input-field col m2 input-tasa">
						<input id="ed_tasa" name="ed_tasa" type="number" class="validate" maxlength="4" placeholder="% de tasa">
						<label for="ed_tasa">Tasa</label>
					</div>
                    <div class="input-field col s12 m4">
                        <select name="ed_se_expresa_en" id="ed_se_expresa_en">
                            <option value="">- Seleccione -</option>
                            <option value="HORAS">HORAS</option>
                            <option value="DIAS">DIAS</option>
                            <option value="UNIDADES">UNIDADES</option>
                            <option value="NINGUNO">NINGUNO</option>
                        </select>
                        <label for="ed_se_expresa_en">Se expresa en</label>                                
                    </div> 
                    <div class="input-field col s12 m3">
                        <select name="ed_ibc" id="ed_ibc">
                            <option value="NO">NO</option>
                            <option value="SI">SI</option>
                        </select>
                        <label for="ed_ibc">ibc</label>                                
                    </div>
                </div>
                <div class="row">					
                    <div class="input-field col s12 m3">
                        <select name="ed_base_prestaciones" id="ed_base_prestaciones">
                            <option value="NO">NO</option>
                            <option value="SI">SI</option>
                        </select>
                        <label for="ed_base_prestaciones">Base prestaciones</label>                                
                    </div>					
				</div>
			</div>
			<div class="modal-footer">
				<button class="modal-close btn-flat" type="reset"style="color:blue;"><b>CANCELAR</b></button>
				<button class="btn waves-effect waves-light green " type="submit"style="border-radius:10px;" ><b>GUARDAR</b></button>
			</div>
		</form>
	</div>
</div>
