<style>

#modal_liquidacion_guias{
	height : 90%;
	border-radius:20px;
	padding-top:0px; 
	padding-bottom:0px; 
	max-height:700px;
}
</style> 

<div id="modal_liquidacion_guias" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="encabezado-modal center-align">
                <h4>Liquidacion de Guias</h4>
        </div>
        <p>Listado de usuario con guias pendientes por pagar</p>
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th class="center-align">total guias a pagar</th>
                    <th>Valor a pagar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="GuiasSinLiquidar">
            </tblody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">CERRAR</a>
    </div>
</div>