<div id="modal_editar_contable" name="modal_editar_contable" class="modal modal-esc modal-fixed-footer" style="border-radius:20px; padding-top:0px; padding-bottom:0px;width :40%; height:80%;">
	<div class="modal-content" style="padding:0px;">
		<h4 id="fijo" class="titulo_row center-align">Grupos contables actualmente activos</h4>
		<table class="centered highlight">
			<div id="subtitle" class="col">
				<center>
					<p class="text-intro grey-text">Ingrese el nuevo dato sobre el campo y luego presione el boton editar para guardar el cambio.</p>
				</center>
			</div>
			<thead>
			<tr style="color:grey;">
				<th  style="width : 15%">Codigo</th>
				<th  style="width : 15%">Contable</th>
				<th  style="width : 20%">Fecha Creacion</th>
				<th  style="width : 10%">Editar</th>
				<th  style="width : 10%">Eliminar</th>
			</tr>
			</thead>
			<tbody class="tabla-edit-contable">
				
			</tbody>			
		</table>
	</div>
		<div class="modal-footer">        
		<button class="modal-close btn-flat" type="reset" style="color:#005EB8" ><b>CANCELAR</b></button>            
	</div> 
</div>
