<style>
  #modal_rastreo{
    height : 90%;
    border-radius:20px;
    padding-top:0px; 
    padding-bottom:0px; 
    max-height:700px;
    width : 40%;
  }
</style>

<div id="modal_rastreo" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="encabezado-modal center-align">
      <h4>Rastreo de pedidos</h4>
    </div>
    <br>
    <div class="container"> 
      <div class="row" id="container-rastreos">
        {# <div class="col m12 text-center">This div is 12-columns wide on all screen sizes</div> #}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a 
      href="#!" 
      class="modal-close waves-effect waves-green btn-flat"
    >
      CERRAR
    </a>
  </div>
</div>