<div id="modal_editar_area" name="modal_editar_area" class="modal modal-esc modal-fixed-footer" style="border-radius:20px; padding-top:0px; padding-bottom:0px;width :40%; height:80%;">
	<div class="modal-content" style="padding:0px;">
	<h4 id="fijo" class="titulo_row center-align">Areas actualmente activas</h4>
		<table class="centered highlight">
			<div id="subtitle" class="col">
				<center>
					<p class="text-intro grey-text">Ingrese el nuevo dato sobre el campo y luego presione el boton editar para guardar el cambio.</p>
				</center>
			</div>
			<thead>
			<tr style="color:grey;">
				<th>Area</th>
				<th>Fecha Creacion</th>
				<th>Editar</th>
				<th>Eliminar</th>
			</tr>
			</thead>
			<tbody class="tabla-edit-area">
				
			</tbody>			
		</table>
	</div>
	<div class="modal-footer">        
		<button class="modal-close btn-flat" type="reset" style="color:#005EB8"><b>CANCELAR</b></button>    	        
	</div> 
</div>
