<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-2 col-sm-2 mb-xl-0 mb-4">
            <div class="text-center">
                <button type="button" class="btn bg-gradient-primary w-100 my-4 mb-2 modal-trigger" href="#modal_pedidos" id="btn-nuevo-pedido"><b>Nuevo Pedido</b></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="pt-1">
                        <h4 class="mb-0">Últimos Pedidos</h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> No. </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Fecha </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Articulo </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Valor a cobrar </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Valor envío</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> % </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Valor comisión </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Valor a recibir </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Nombre </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Teléfono </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Dirección </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Estado </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Transportadora </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Guía </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Estado guía</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Asesor comercial </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Opcion </th>
                            </tr>
                        </thead>    
                        <tbody>
                            <tr>
                                <td class="align-middle text-center text-xs">134186</td>
                                <td class="align-middle text-center text-xs">04/03/2022<br>03:49 PM   </td>
                                <td class="align-middle text-center text-xs">Pijama aveo GT<br>Peso: 1<br>Medidas en cm:<br>10 X 10 X 20</td>
                                <td class="align-middle text-center text-xs" align="right">133000</td>
                                <td class="align-middle text-center text-xs" align="right">13150</td>
                                <td class="align-middle text-center text-xs">6%</td>
                                <td class="align-middle text-center text-xs" align="right">7980</td>
                                <td class="align-middle text-center text-xs" align="right">111870</td>
                                <td class="align-middle text-center text-xs">CC: 1081758651<br> Test User</td>
                                <td class="align-middle text-center text-xs"><a href="https://api.whatsapp.com/send?phone=573026628690" target="_blank">3026628690</a></td>
                                <td class="align-middle text-center text-xs">CLL 62A #12-76<br><br>Ibagué-Tolima</td>
                                <td class="align-middle text-center text-xs">Enviado</td>
                                <td class="align-middle text-center text-xs" onclick="copiar(2136307845);">Servientrega</td>
                                <td class="align-middle text-center text-xs">2136307845</td>
                                <td class="align-middle text-center text-xs" align="center"> <b><font color="#3DF714">Enviado</font></b></td>
                                <td class="align-middle text-center text-xs"><b>Creado por: </b>Test User<br><br><b>Editado por: </b>Test User</td>
                                <td class="align-middle text-center text-xs" align="center">
                                    <strong> 
                                        <a 
                                            href="#modal_rastreo" 
                                            target="_blank" 
                                            class="modal-trigger tooltipped"
                                            data-position="left"
                                            data-tooltip="Rastrear pedido"
                                        >
                                            <i class="material-icons">search</i>
                                        </a>
                                        <br>
                                        <br> 
                                        <a 
                                            href="#modal_editar" 
                                            class="modal-trigger tooltipped"
                                            data-position="left"
                                            data-tooltip="Editar pedido"
                                        >
                                            <i class="material-icons">create</i>
                                        </a>
                                        <br>
                                        <br>  
                                        <a 
                                            href="#modal_novedad" 
                                            class="modal-trigger tooltipped"
                                            data-position="left"
                                            data-tooltip="Registrar novedad"
                                        >
                                            <i class="material-icons">add_alert</i>
                                        </a>
                                        <br>
                                        <br> 
                                        <a 
                                            href="#modal_rotulo" 
                                            class="modal-trigger tooltipped"
                                            data-position="left"
                                            data-tooltip="Generar rótulo"
                                        >
                                            <i class="material-icons">assignment</i>
                                        </a>
                                        <br>
                                        <br> 
                                        <a 
                                            href="#modal_recibo_venta" 
                                            class="modal-trigger tooltipped"
                                            data-position="left"
                                            data-tooltip="Generar recibo de venta"
                                        >
                                            <i class="material-icons">class</i>
                                        </a>
                                        <br>
                                        <br>
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'modal_pedidos.twig' %}
{% include 'modal_cobertura.twig' %}
{% include 'modal_rastreo.twig' %}
{% include 'modal_editar.twig' %}
{% include 'modal_novedad.twig' %}
{% include 'modal_rotulo.twig' %}
{% include 'modal_recibo_venta.twig' %}