<div class="container-principal">

    <button type="button" class="btn bg-gradient-primary w-100 my-4 mb-2 modal-trigger" href="#modal_pedidos" id="btn-nuevo-pedido"><b>Nuevo Pedido</b></button>

    <table>
        <thead>
            <th> No. </th>
            <th> Guía </th>
            <th> Fecha </th>
            <th> Articulo </th>
            <th> Nombre </th>
            <th> Teléfono </th>
            <th> Dirección </th>
            <th> Estado </th>
            <th> Transportadora </th>
            <th> Estado guía</th>
            <th></th>
        </thead>
        <tbody>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="align-middle text-center text-xs" align="center">            
                <a href="#modal_rastreo" target="_blank" class="modal-trigger tooltipped" data-position="left"   data-tooltip="Rastrear pedido"><i class="material-icons">search</i></a>

                <a href="#modal_editar" class="modal-trigger tooltipped" data-position="left" data-tooltip="Editar pedido"><i class="material-icons">create</i></a>

                <a href="#modal_novedad" class="modal-trigger tooltipped" data-position="left"
                data-tooltip="Registrar novedad"><i class="material-icons">add_alert</i></a>

                <a href="#modal_rotulo" class="modal-trigger tooltipped"
                data-position="left" data-tooltip="Generar rótulo"><i class="material-icons">assignment</i>     </a>

                <a href="#modal_recibo_venta" class="modal-trigger tooltipped"
                data-position="left" data-tooltip="Generar recibo de venta"><i class="material-icons">class</i>
                </a>
            </td>
        </tbody>

    </table>

</div>

{% include 'modal_pedidos.twig' %}
{% include 'modal_cobertura.twig' %}
{% include 'modal_rastreo.twig' %}
{% include 'modal_editar.twig' %}
{% include 'modal_novedad.twig' %}
{% include 'modal_rotulo.twig' %}
{% include 'modal_recibo_venta.twig' %}