<style>
.dashboard {
    padding: 20px 15px;
    width: 85%;
    margin: auto;
}

@media (max-width: 1280px) {
    .dashboard {
        width: 100%;
    }
}

.dashboard .card {
    cursor: pointer
}

.dashboard .card .row {
    margin-bottom: 0;
}

.dashboard .card-stats-number {
    margin: 0;
    font-weight: bold;
}

.dashboard .icon {
    height: 140px;
}

.dashboard .icon {
    width: 100px;
}

.dashboard .icon i {
    width: 100%;
    text-align: center;
    color: rgba(0,0,0,.25)
}
.heading-primary {
  font-size: 4rem;
  font-weight: 800;
}
.span-blue {
  color: #2196f3;
}
.slogan-text {
  color: darkgray;
  font-weight: 400;
}
</style>

<div class="dashboard">
    <div class="row">
      <div class="col l12 m12 s12">
        <h3 class="heading-primary">Reportes <span class="span-blue">Envío Fácil</span>.</h3>
      </div>
    </div>
    <div class="row">

        <div class="col l3 m6 s12">
            <div class="card green white-text valign-wrapper">
                <div class="green darken-2 icon valign-wrapper">
                    <i class="material-icons medium valign">check_circle</i>
                </div>
                <div class="card-content">
                    <div class="row">
                        <h5>Guias</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l3 m6 s12">
            <div class="card red white-text valign-wrapper">
                <div class="red darken-2 icon valign-wrapper">
                    <i class="material-icons medium valign">error</i>
                </div>
                <div class="card-content">
                    <div class="row">
                        <h5>Liquidacion de Guias</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l3 m6 s12">
            <div class="card blue darken-1 white-text valign-wrapper">
                <div class="blue darken-3 icon valign-wrapper">
                    <i class="material-icons medium valign">account_balance</i>
                </div>
                <div class="card-content">
                    <div class="row" title="Este saldo puede variar dependiendo de las novedades de la guia">
                        <h5>Usuarios</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>