<div id="tabla_ver_novedad" name="tabla_ver_novedad" class="modal modal-esc modal-fixed-footer" style="border-radius:20px; padding-top:0px; padding-bottom:0px;width :50%; height:80%;">
	<div class="modal-content" style="padding:0px;">
		<h4 id="fijo" class="titulo_row center-align">Novedades del empleado actualmente activas</h4>
		<table class="centered highlight">
			<div id="subtitle" class="col s12">
				<center>
					<p class="text-intro grey-text">Hacer click en el boton editar para abrir el formulario.</p>
				</center>
			</div>
			<thead>
			<tr style="color:grey;">
				<th style="width : 30%">Novedad</th>
				<th style="width : 30%">Tipo novedad</th>
				<th style="width : 10%">Editar</th>
				<th style="width : 10%">Eliminar</th>
			</tr>
			</thead>
			<tbody class="tabla-edit-novedad"></tbody>
		</table>
		</div>
			<div class="modal-footer">        
			<button class="modal-close btn-flat" type="reset" style="color:#005EB8"><b>CANCELAR</b></button>            
		</div>
	</div> 
</div>
 