<div id="tabla_ver_concepto_pago" name="tabla_ver_concepto_pago" class="modal modal-esc modal-fixed-footer" style="border-radius:20px; padding-top:0px; padding-bottom:0px;width :50%; height:80%;">
<div class="modal-content " style="padding:0px;">
		<h4 id="fijo" class="titulo_row center-align">Concepto de pago actualmente activos</h4>
		<table class="centered highlight">
			<div id="subtitle" class="col s12">
				<center>
					<p class="text-intro grey-text">Hacer click en el boton editar para abrir el formulario..</p>
				</center>
			</div>
			<thead>
			<tr style="color:grey;">
				<th style="width:20%;">Codigo</th>
				<th style="width:30%;">Nombre</th>
				<th style="width:30%;">Clase</th>
				<th style="width:10%;">Editar</th>
				<th style="width:10%;">Eliminar</th>
			</tr>
			</thead>
			<tbody class="tabla-edit-concepto-pago">
				
			</tbody>			
		</table>
	</div>
		<div class="modal-footer">        
		<button class="modal-close btn-flat" type="reset" style="color:#005EB8"><b>CANCELAR</b></button>            
	</div> 
</div>
